<!--Header-->
<div ng-include = "'templates/views/header.html'"></div>

<div class="container">
    <div class="row">
    <div class="col-sm-2">
        <div class="list-group pull-right">
            <h4 class="list-group-item" style="text-align: center;">List of Course:</h4>
            <span ng-repeat='course in courses'>
            <a href="#/course?id={{course.id}}" class="list-group-item"  style="text-align: center;" ng-if='course.id != course_id'>{{course.course_name}}</a> 

            <a href="#/course?id={{course.id}}" class="list-group-item active"  style="text-align: center;" ng-if='course.id == course_id'>{{course.course_name}}</a>       
            </span>
        </div>
    </div>

    <div class="col-sm-9">
        <div class="row">       
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> All Questions
              </label>
              <label class="btn btn-default">
                <input type="radio" name="options" id="option2" autocomplete="off"> Answered Questions
              </label>
              <label class="btn btn-default">
                <input type="radio" name="options" id="option3" autocomplete="off"> un-answered Questions
              </label>
            </div>
        </div>
        <br/>
        <div class="row"  ng-repeat='question in questions track by $index'>
                  
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{question.title}}</h3>
                        <div hm-read-more
                            hm-text="{{question.content}}" 
                            hm-limit="100" 
                            hm-more-text="read more" 
                            hm-less-text="read less"
                            hm-dots-class="dots"
                            hm-link-class="links">
                        </div>
                        <p><a class="btn btn-default" href="#/question?id={{question.id}}">See More</a><h5># Answers: {{question.answers}}</h5> </p>

                        
                    </div>
                </div>
            
        </div>
    </div>

  </div>
  <br/>

</div>







<!--Footer-->
<div ng-include = "'templates/views/footer.html'"></div>