<div ng-controller ="headerCtl" >

<nav class="navbar navbar-default">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
  <div >

    <div class="navbar-header">
      <a class="navbar-brand">Developer Maze</a>
    </div>

      <div class="navbar-form navbar-left"  ng-if='currentuser'>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search or Ask.." ng-model="question.title" ng-change="autoComplete(question.title)" ng-model-options="{debounce:1000}">
        </div>
        

        <button class="btn btn-default" data-toggle="modal" ng-click="requestAsk()" data-target="#askModal">Ask</button>

      </div>

    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right" >
      <li ><h4>{{user.name}}</h4></li>
        <!-- Trigger the modal with a link -->
      <li><a type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-if='!currentuser' ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li ng-if='currentuser'>
         <button class="btn btn-default btn-lg dropdown-toggle" ng-click="getNotificationList()" type="button" data-toggle="dropdown"><span class="badge ">{{numOfnotification}}</span><span class="glyphicon glyphicon-bell "></span></button>
          <ul class="dropdown-menu">
            <li ng-repeat='notification in notifications'><a href="#">{{notification.user}} {{notification.content}}</a></li>
          </ul>
      </li>
      <li ng-if='currentuser'><img ng-src={{user_image}} width="50" height="50"  class="img-circle"></li>
      <li ng-if='currentuser'><a  class="btn btn-default"><span class="glyphicon glyphicon-cog"></span> Setting</a></li>
      <li ng-if='currentuser'><a class="btn btn-default" data-toggle="modal" data-target="#logoutModal"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
    </div>

  </div>

</nav>

 <!-- login Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Login Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Please, Enter Your Email and Password..</h4>
        </div>
        <div class="modal-body">
          
            <form class="form-horizontal" role="form" name="loginForm" novalidate ng-submit="submitted=true;sendData(loginForm.$valid)">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="email">Email:</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" placeholder="Enter email" ng-model='user.email' required>
                    <p ng-if="loginForm.email.$error.required&&submitted" class="text-danger" >Email is required..</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="password">Password:</label>
                  <div class="col-sm-10">          
                    <input type="password" class="form-control" name="password" placeholder="Enter password" ng-model='user.password' required>
                    <p ng-if="loginForm.password.$error.required&&submitted" class="text-danger">Password is required..</p>
                  </div>
                </div>
                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                      <label><input type="checkbox" ng-model='user.remember'> Remember me</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="modal-footer">
                      <button class="btn btn-success">Login</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </form>

        </div>
        
      </div>
      
    </div>
  </div><!--end of modal -->


    <!-- Logout Modal -->
<div class="modal fade" id="logoutModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Logout Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Are You Sure You Want to Logout ??</h4>
        </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-danger" ng-click='logout()'>Yes</button>
                  <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
              </div>
        
      </div>
      
    </div>
  </div><!--end of modal -->

   <!-- Ask Modal -->
<div class="modal fade " id="askModal" role="dialog" ng-if='question.title'>
    <div class="modal-dialog">
    
      <!-- Ask Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Your Question Details:</h4>
        </div>
        <div class="modal-body">

          <form class="form-horizontal" name="AskForm" novalidate ng-submit="submitted=true;askQuestion(AskForm.$valid)">

            <div class="form-group">
              <label class="col-sm-2 control-label">Question Title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control"  ng-model='question.title' readonly name="title" required>
                <p ng-if="AskForm.title.$error.required&&submitted" class="text-danger" >Question's Title is required..</p>
              </div>              

            </div>
            
            <div class="form-group">
              <label for="content" class="col-sm-2 control-label">Question Content</label>
              <div class="col-sm-10">

                <trix-editor style='height: 300px;' angular-trix ng-model="question.content" class="trix-content" name='content' required>
                </trix-editor>
                <p ng-if="AskForm.content.$error.required&&submitted" class="text-danger" >Question's Content is required..</p>
              </div>
              

            </div>

            <div class="form-group">
              <label for="course"  class="col-sm-2 control-label">Select Course</label>
              <div class="col-sm-10">             
                <select class="form-control" ng-model="question.course" ng-options="course.id as course.course_name for course in courses" required name="course"></select>
                <p ng-if="AskForm.course.$error.required&&submitted" class="text-danger" >Select Course..</p>

              </div>
            </div>

            <div class="form-group">
              <label for="course"  class="col-sm-2 control-label">Tags</label>
              <div class="col-sm-10">
                <select class="form-control selectpicker" ng-model="question.tags" ng-options="tag.id as tag.tag_name for tag in tags" multiple></select>

              </div>
            </div>


          
              <div class="modal-footer">
                  <button  class="btn btn-danger">Ask</button>
                  <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
              </div>
        </form>
          

        </div>
      </div>
      
    </div>
  </div><!--end of modal -->

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="alert alert-danger alert-dismissible fade in col-sm-4" ng-if='titleError'>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h5><strong>Warning! </strong>{{titleError}}</h5>
    </div>

  </div>


</div>



