<!--Header-->
<div ng-include = "'templates/views/header.html'"></div>
<div class="container">

	<h3 class="color-blue">What is our Point System ?</h3>
	<strong class="color-grey">In our system, Points will be added to your Score if your answer:</strong>
	<ol>
		<li><h4>Has been accepted.</h4></li>
		<li><h4>Gain the Golden Mark <small>(By an Instructor).</small></h4></li>
		<li><h4>Liked by a user.</h4></li>
	</ol>

	<hr>

	<h3 class="color-blue">How To Ask a Question ?</h3>
	<ol>
		<li><h4>You should search for question's title because it may be allready exists.</h4></li>
		<li><h4>If The Question doesn't exist, you can press on "Ask" button and enter your question's title , question's content, select course and choose tags.</h4></li>
		<li><h4>The courses that you select from are the courses in your list.</h4></li>
		<li><h4>You should choose tags that are related to your question.</h4></li>
		<li><h4>When you get answers on your question, you should Accept the correct answer to help others.</h4></li>
		<li><h4>You may like or dislike answers.</h4></li>
	</ol>

	<hr>

	<h3 class="color-blue">How To Answer on a Question ?</h3>
	<ol>
		<li><h4>In Question's Page, you may need to answer on the question.</h4></li>
		<li><h4>At the end of the page, you'll find a form to put your Answer then press on "Add Answer" button.</h4></li>
	</ol>

	<hr>

	<h3 class="color-blue">How To Comment on a Question ?</h3>
	<ol>
		<li><h4>In Question's Page, you can comment on a question and ask the owner of that question for some information <small>(EX: ask for the version of the program).</small></h4></li>
		<li><h4>You should enter your comment content in the form and press "Add Comment" button.</h4></li>
	</ol>

	<hr>

	<h3 class="color-blue">How To Reply on an Answer ?</h3>
	<ol>
		<li><h4>In Question's Page, you can reply on an answer.</h4></li>
		<li><h4>At the end of each answer you'll find reply form, enter your reply and press on "Add Reply" button.</h4></li>
	</ol>





</div>
<!--Footer-->
<div ng-include = "'templates/views/footer.html'"></div>