<!--Header-->
<div ng-include = "'templates/views/header.html'"></div>

<div class="header">
	<div class="overlay"></div>
	<div class="logo">
		<img src="images/logo.png">
		<h1 class="color-red">Developer Maze</h1>
		<h3 class="color-white">Create you own wayout ... </h3>
		<h4 class="color-white"><p>course-independent website helps the iti students to collaborate with each others </p><p> by asking questions and get answers ,questions and answers are get voted by user votes. </p></h4>
	</div>
</div>
<div class="container">
	
		
<!-- top students -->
	<div class="row">
		<div class="col-sm-6">
			<div class="owl-carousel">

			    <div class="item" align="center">
			        <div class="bg-red" style="width: 250px; height: 200px;border-radius: 50%;"></div>
			    </div>
			    <div class="item" align="center">
			        <div class="bg-red" style="width: 250px; height: 200px;border-radius: 50%;"></div>
			    </div>
			    <div class="item" align="center">
			        <div class="bg-red" style="width: 250px; height: 200px;border-radius: 50%;"></div>		      	
			    </div>
	    		<div class="item" align="center">
			        <div class="bg-red" style="width: 250px; height: 200px;border-radius: 50%;"></div>		      	
			    </div>

			</div>
		</div>
<!-- top instructors -->
		<div class="col-sm-6">
			<div class="owl-carousel">

			    <div class="item" align="center">
			        <div class="bg-blue" style="width: 250px; height: 200px;border-radius: 50%;"></div>
			    </div>
			    <div class="item" align="center">
			        <div class="bg-blue" style="width: 250px; height: 200px;border-radius: 50%;"></div>
			    </div>
			    <div class="item" align="center">
			        <div class="bg-blue" style="width: 250px; height: 200px;border-radius: 50%;"></div>
			    </div>	
			    <div class="item" align="center">
			        <div class="bg-blue" style="width: 250px; height: 200px;border-radius: 50%;"></div>
			    </div>		    
			    
			</div>

		</div>
	</div>

	
</div>


<!--Footer-->
<div ng-include = "'templates/views/footer.html'"></div>