<!--Header-->
<div ng-include = "'templates/views/header.html'"></div>


<div class="container">
  <div class="row">
  	<div class="col-sm-3">
  		<div class="list-group pull-right" style="width: 250px;">
  			<h4 class="list-group-item" style="text-align: center;">List of Course:</h4>
			<a href="#" class="list-group-item" ng-repeat='course in courses' style="text-align: center;">{{course}}</a>		  	  
		</div>
  	</div>

  	<div class="col-sm-9">
  		<div class="row">
		  	<ul class="nav navbar-nav">
		      <li><a  class="btn btn-default">All Questions</a></li>
		      <li><a  class="btn btn-default">Answered Questions</a></li>
		      <li><a  class="btn btn-default">un-answered Questions</a></li>
		    </ul>
	    </div>
	    <br/>
	    <div class="row"  ng-repeat='question in questions track by $index'>
				  
				<div class="thumbnail">
				    <div class="caption">
				        <h3>{{question.title}}</h3>
				        <h4 style="
							     white-space: nowrap;
							     overflow: hidden;
							     text-overflow: ellipsis;">
						{{question.content}}</h4>
				        <p><a href="#/question?id={{question.id}}">See More</a><h5># Answers: {{question.answers}}</h5> </p>
				        
				    </div>
				</div>
	    	
	    </div>
    </div>

  </div>
  <br/>

  <div class="row">
  
  	

  	<div class="col-sm-9"></div>

    </div>

</div>