<!--Header-->
<div ng-include = "'templates/views/header.html'"></div>

<div class="container" >
<div class="row">	
	<div class="thumbnail" >
		<h3>{{question.title}}</h3>
		<h4>{{question.content}}</h4>
		<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-10">
						<div class="thumbnail" ng-repeat='comment in comments'>
							<div class="row">
								<div class="col-md-10">
									<h4>By: {{comment.user_name}}</h4>
								</div>
								<div class="col-md-2">
									<h6>{{comment.time}}</h6>
								</div>				
							</div>
							<h5>{{comment.content}}</h5>
							
							
						</div>
						<div class="form-horizontal row">
								<div class="form-group">
								    <div class="col-sm-2">
								    	<button class="btn btn-default">Add Comment</button>
								    </div>
								    <div class="col-sm-9">
								      <input type="text" class="form-control" id="comment" placeholder="Enter Your Comment..">
								    </div>
								</div>
						</div>
						
					</div>

				</div>
		
	</div>
</div>

<div class="row">
	<div class="thumbnail">

		<h3>Answers:</h3>
		<div class="thumbnail" ng-repeat='answer in answers track by $index'>
			<div class="caption">
				<div class="row">
					<div class="col-md-10">
						<h4>By: {{answer.user_name}}</h4>
					</div>
					<div class="col-md-2">
						<h6>{{answer.time}}</h6>
					</div>
				</div>
				<h5>{{answer.content}}</h5>
				<div class="row">
					<div class="col-sm-2">
						<h3><span class="glyphicon glyphicon-thumbs-up">{{answer.like}}</span> <span class="glyphicon glyphicon-thumbs-down">{{answer.dislike}}</span></h3>
					</div>
					<div class="col-sm-9"></div>
					<div class="col-sm-1" ng-if='question.solved == 0'>
						<div class="radio">
					      <label><h3><span class="glyphicon glyphicon-ok"></span></h3><input type="checkbox" ng-click='acceptAnswer(answer.id,$index)'></label>
					    </div>
					</div>

					<div class="col-sm-1" ng-if='question.solved == 1'>
						<div class="radio">
					      <label ng-if='answer.accepted == 1'><h3><span class="glyphicon glyphicon-ok"></span></h3><input type="checkbox" ng-click='unacceptAnswer(answer.id,$index)' checked='true'></label>


					    </div>
					</div>

				</div>
				

				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-10">
						<div class="thumbnail" ng-repeat='reply in replies'>
							<div class="row">
								<div class="col-md-10">
									<h4>By: {{reply.user_name}}</h4>
								</div>
								<div class="col-md-2">
									<h6>{{reply.time}}</h6>
								</div>				
							</div>
							<h5>{{reply.content}}</h5>
							
							
						</div>
						<div class="form-horizontal row">
								<div class="form-group">
								    <div class="col-sm-2">
								    	<button class="btn btn-default">Add Reply</button>
								    </div>
								    <div class="col-sm-9">
								      <input type="text" class="form-control" id="reply" placeholder="Enter Your Reply..">
								    </div>
								</div>
						</div>
						
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="thumbnail">
	<h4>Add Your Answer:</h4>
	<!-- <ui-codemirror ui-codemirror-opts="editorOptions" ng-model='answerText' ></ui-codemirror> -->
	<trix-editor style='height: 300px;' ng-model='answer_content'></trix-editor>
	
</div>

</div>



