<!--Header-->
<div ng-include = "'templates/views/header.html'"></div>


<div class="container" style="margin-top: 20px;">
  <div class="row content">
 
    <div class="col-sm-3 sidenav">


      <!-- list of courses -->
      <h4 style="text-align: center;">List of Course:</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#/course?name={{course.course_name}}" class="list-group-item" ng-repeat='course in courses track by $index' style="text-align: center;" ng-click='courseQuestions()'>{{course.course_name}}</a></li>
      </ul><br>

      
    </div>

    <div class="col-sm-9">
    
    <!-- filteration for questions -->
      <nav class="navbar " style="background-color: white;">
      <div class="container-fluid">

        <div>
          <ul class="nav navbar-nav">
          <li  ><a class="color-blue " href="#/questions" ng-click='filterQuestions("all")' >My Courses' Questions</a></li>
          <li><a href="#/allquestions" class="color-red"> Other Courses' Questions</a></li>
            
          </ul>
        </div>
      </div>
    </nav><!-- end of filteration -->
    <!-- filteration for questions -->
      <nav class="navbar" style="background-color: white;">
      <b class="navbar-brand" style="color: grey;">Filteration:</b>
      <div class="container-fluid">

        <div>
          <ul class="nav navbar-nav">
           <li><a class="btn color-grey" ng-click='filterQuestions("all")' > All </a></li>
            <li><a class="btn color-grey" ng-click='filterQuestions("answered")'> Answered</a></li>
            <li><a class="btn color-grey" ng-click='filterQuestions("unanswered")'> Un-Answered</a></li>
          </ul>
        </div>
      </div>
    </nav><!-- end of filteration -->
    <h2><small>RECENT QUESTIONS</small></h2>
      <hr>
      <div class="row" >
      <div ng-table="questionsTable" ng-repeat='question in data track by $index'>
        <div class="col-sm-6">
          <div class="questionArchive bg-blue color-white">
      
      <h4 hm-read-more
                  hm-text="{{question.title}}" 
                  hm-limit="100" 
                  hm-more-text="Read More" 
                  hm-less-text="Read Less"
                  hm-dots-class="dots"
                  hm-link-class="questionTitle"
                  class="questionTitle">
     

      </h4>
      <h5><span class="label bg-red">{{question.course_name}}</span></h5><br>

     <strong> Tags</strong> <span class="badge bg-brown" ng-repeat='tag in question.tags track by $index'> <a  class="color-white">{{tag.tag_name}}</a> </span> <strong>Answers <span class="badge bg-brown">{{question.answer_number}}</span></strong>


      <hr>
      <div class="clearfix">
      <div class="pull-right">
      
      
       <a  href="#/question?id={{question.id}}" class="btn bg-red" style="color: white;">View Question's Page</a>
     
       <br>
     </div>
     <div class="pull-left">
        <span style="padding-bottom: 2px;
                     padding-left: 2px;
                     padding-right: 2px;
                     padding-top: 2px;
                     font-size:22px;"
             ng-if='question.solved == 1' class="glyphicon glyphicon-ok text-success bg-white"></span>
     </div>
     </div>

          </div>
          </div>
        </div><!--end of question -->
      </div><!--end of  row -->

  <!--pagination-->
  <table ng-table="questionsTable" class="table table-striped">
   <tr ng-repeat="user in data"></tr>
  </table>

    </div>
  </div>



</div>

<!--Footer-->
<div ng-include = "'templates/views/footer.html'"></div>