<!--Header-->
<div ng-include = "'templates/views/header.html'"></div>

<div class="container" >
<div class="row">	
	<div class="thumbnail" >

	<div class="row">
		<div class="col-sm-11">
			<h3>{{question.question_title}}</h3>
		</div>
		<div class="col-sm-1">
			<h1 ng-if='question.solved == 1' class="text-success"><span class="glyphicon glyphicon-ok"></span></h1>							
		</div>
	</div>
	<div class='row'>
		<div class="col-sm-12">
			<p>{{question.question_content}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-9"></div>
		<div class="col-sm-3">
			<h5>{{question.question_time}}<br/> by: {{question.student_name}}<br/>Points:{{question.student_points}}</h5>
		</div>
	</div>

		<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-10">
						<div class="thumbnail" ng-repeat='comment in comments'>
							<div class="row">
								<div class="col-md-10">
									<h4>By: {{comment.user_name}}</h4>
								</div>
								<div class="col-md-1">
									<h6>{{comment.time}}</h6>
								</div>

							</div>
							<h5>{{comment.content}}</h5>
							
							
						</div>
						<div class="form-horizontal row">
								<div class="form-group">
								    <div class="col-sm-2">
								    	<button class="btn btn-default" ng-click="addComment()">Add Comment</button>
								    </div>
								    <div class="col-sm-9">
								      <input type="text" class="form-control" id="comment" placeholder="Enter Your Comment.." ng-model="comment">
								    </div>
								</div>
						</div>
						
					</div>

				</div>
		
	</div>
</div>

<div class="row">
	<div class="thumbnail">

		<h3>Answers:</h3>
		<div class="thumbnail" ng-repeat='answer in answers track by $index'>
			<div class="caption">
				<div class="row">
					<div class="col-md-10">
						<h4>By: {{answer.student_name}}</h4>
					</div>

					<div class="col-md-2">
						<h6>{{answer.answer_time}}</h6>

					</div>
					<div class="col-md-1">
						<button class="btn btn-default" ng-click="editAnswer(answer.answer_id)">edit answer</button>
					</div>
				</div>

				<h5>{{answer.answer_content}}</h5>


				<div class="row">
					<div class="col-sm-2">
						<h3><a style="text-decoration: none;" class="glyphicon glyphicon-thumbs-up" ng-click="like(answer.answer_id)">{{answer.likes}}</a> <a style="text-decoration: none;" class="glyphicon glyphicon-thumbs-down" ng-click="dislike(answer.answer_id)">{{answer.dislikes}}</a></h3>

					</div>
					<div class="col-sm-9"></div>
					<div class="col-sm-1" ng-if='question.solved == 0'>
						<div class="radio">
					      <label><h3><span class="glyphicon glyphicon-ok"></span></h3><input type="checkbox" ng-click='acceptAnswer(answer.answer_id,$index)'></label>
					    </div>
					</div>

					<div class="col-sm-1" ng-if='question.solved == 1'>
						<div class="radio">
					      <label ng-if='answer.accepted == 1'><h3><span class="glyphicon glyphicon-ok"></span></h3><input type="checkbox" ng-click='unacceptAnswer(answer.answer_id,$index)' checked='true'></label>


					    </div>
					</div>

				</div>
				

				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-10">
						<div class="thumbnail" ng-repeat='reply in replies'>
							<div class="row">
								<div class="col-md-10">
									<h4>By: {{reply.user_name}}</h4>
								</div>
								<div class="col-md-2">
									<h6>{{reply.time}}</h6>
								</div>				
							</div>
							<h5>{{reply.content}}</h5>
							
							
						</div>
						<div class="form-horizontal row">
								<div class="form-group">
								    <div class="col-sm-2">
								    	<button class="btn btn-default" ng-click="addReply(answer.answer_id,my_reply)">Add Reply</button>
								    </div>
								    <div class="col-sm-9">
								      <input type="text" class="form-control" placeholder="Enter Your Reply.." ng-model="my_reply">
								    </div>
								</div>
						</div>
						
					</div>

				</div>
			</div>
		</div>
	</div>
</div>




<form class="form-horizontal thumbnail" name="answerForm" novalidate ng-submit="submitted=true;addAnswer(answerForm.$valid)">

	<!-- <ui-codemirror ui-codemirror-opts="editorOptions" ng-model='answerText' ></ui-codemirror> -->
	<div class="form-group">
        <label for="course"  class="col-sm-2 control-label">Select Image</label>
        <div class="col-sm-10">
			<input type="file" class="form-control" file-model='image_path' name="image_path">	        
        </div>
    </div>

	<div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
			<trix-editor style='height: 300px;' angular-trix ng-model='answer_content' name='answer_content' required></trix-editor>
        	<p ng-if="answerForm.answer_content.$error.required&&submitted" class="text-danger" >please, Enter an Answer..</p>
        </div>
	</div>
	<div class="form-group">
		<div class="col-sm-10"></div>
		<div class="col-sm-2">
			<button class="btn btn-default">Add Answer</button>
		</div>
	</div>

</form>
</div>





<!--Footer-->
<div ng-include = "'templates/views/footer.html'"></div>
