<!--Header-->
<div ng-include = "'templates/views/header.html'"></div>
<style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: white;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>


<div class="container" >
  <div class="row content">
    <div class="col-sm-3 sidenav" ng-controller='questionsCtl'>


      <!-- list of courses -->
      <h4 style="text-align: center;">List of Course:</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#/course?id={{course.id}}" class="list-group-item" ng-repeat='course in courses track by $index' style="text-align: center;">{{course.course_name}}</a></li>
      </ul><br>

      
    </div>

    <div class="col-sm-9">
      
      <div class="pull-right">
        <button ng-if='question.question_student_id == user_id' class="btn btn-warning" ng-click="editQuestionData()" data-toggle="modal" data-target="#editQuestionModal"><span class="glyphicon glyphicon-edit"></span> Edit Question</button>
      </div>
      <h2>{{question.question_title}}  <span ng-if='question.solved == 1' class="glyphicon glyphicon-ok text-success"></span></h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by {{question.student_name}}, {{question.question_time}}</h5><h5>User's Points: <span class="label label-success">{{question.student_points}}</span></h5>

      

      <span class="badge"> Tags</span> <b ng-repeat='tag in tags track by $index'> <a href="#/tag?id={{tag.id}}" >{{tag.tag_name}}</a> |</b><br><br>

      <h4 hm-read-more
        hm-text="{{question.question_content}}" 
        hm-dots-class="dots"
        hm-link-class="links">
      </h4>
      <hr>


      <div class="row" ng-repeat='comment in comments'>
        
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <h4> <span class="glyphicon glyphicon-circle-arrow-right"></span> {{comment.instructor_name}} {{comment.sfull_name}} <small>{{comment.time}}</small></h4>
          <p>{{comment.content}}</p>
        </div>
        <hr>
      </div>

      <h4>Leave a Comment:</h4>
      <div role="form">
        <div class="form-group">
          <textarea class="form-control" id="comment" placeholder="Enter Your Comment.." ng-model="comment"></textarea>
        </div>
        <button class="btn btn-success" ng-click="addComment()"><span class="glyphicon glyphicon-comment"></span> Add Comment</button>
      </div>
      <br><br>
      
      <h3><small>RECENT ANSWERS</small></h3>
      <hr>
      <div class="row" ng-repeat='answer in answers track by $index'>
        <div class="pull-right">
          <br/><br/>

            <button ng-if='answer.answer_student_id == user_id && user_type == "student" ' class="btn btn-warning" ng-click="editAnswerData(answer,$index)" data-toggle="modal" data-target="#editAnswerModal"><span class="glyphicon glyphicon-edit"></span> Edit Answer</button>
          </div>
        <div class="col-sm-12">
          <h4>By: {{answer.student_name}}{{answer.instructor_name}} <small>{{answer.answer_time}}</small> </h4>

          
          
          <div hm-read-more
          hm-text="{{answer.answer_content}}" 
          hm-dots-class="dots"
          hm-link-class="links">
        </div>

        <!--golden star-->
          <div class="pull-left">
            <h1 ng-if='answer.golden == 1'><span class="glyphicon glyphicon-star" style="color: #d9d927"></span></h1>

            <h1 ng-if='answer.golden == 0 && user_type == "instructor" ' ><span class="glyphicon glyphicon-star" ng-click='goldenStar(answer.answer_id,$index)'></span></h1>
          </div>
          <!--accepted-->
            <div ng-if='question.solved == 0' class="pull-right">
              <div class="radio" ng-if='question.question_student_id == user_id '>
                  <label><h3 style="color: #cccccc;"><span class="glyphicon glyphicon-ok" ng-click='acceptAnswer(answer.answer_id,$index)'></span></h3></label>
                </div>
            </div>

            <div ng-if='question.solved == 1' class="pull-right">
              <div class="radio" ng-if='question.question_student_id == user_id '>
                  <label ng-if='answer.accepted == 1'><h3><span class="glyphicon glyphicon-ok text-success" ng-click='unacceptAnswer(answer.answer_id,$index)'></span></h3></label>


                </div>
            </div><!--end of accepted-->
          <br><br>

          <!--Likes/DisLikes-->
          <div ng-repeat='obj in ui_likes[$index] track by $index' ng-init="my_index=$parent.$index">
            <h3>

              <div ng-if='obj.empty == 0 && obj.me == 1'>
                <!--{{obj.like}}-->
                <a ng-if='obj.like == 1 ' style="text-decoration: none;color: darkblue;" class="glyphicon glyphicon-thumbs-up" ng-click="removeLike(answer.answer_id,my_index)">{{likes[my_index]}}</a>
                <a ng-if='obj.like == 1 ' style="text-decoration: none;" class="glyphicon glyphicon-thumbs-down">{{dislikes[my_index]}}</a>

                <a ng-if='obj.like == 0 ' style="text-decoration: none;" class="glyphicon glyphicon-thumbs-up" >{{likes[my_index]}}</a>
                <a ng-if='obj.like == 0 ' style="text-decoration: none;color: darkblue;" class="glyphicon glyphicon-thumbs-down" ng-click="removeDislike(answer.answer_id,my_index)">{{dislikes[my_index]}}</a>

              </div>
                <div ng-if='obj.empty == 1'>
                <a style="text-decoration: none;" class="glyphicon glyphicon-thumbs-up" ng-click="like(answer.answer_id,my_index)">{{likes[my_index]}}</a>

                <a style="text-decoration: none;" class="glyphicon glyphicon-thumbs-down" ng-click="dislike(answer.answer_id,my_index)">{{dislikes[my_index]}}</a>

              </div>
            </h3>
          </div><!--end of likes/dislike-->
          
          <!--reply -->
          <div class="row" ng-repeat='reply in replies[$index]'>
            <div class="col-sm-2"></div>
            <div class="col-xs-10">
              <h4> <span class="glyphicon glyphicon-circle-arrow-right"></span> {{reply.instructor_name}}{{reply.student_name}} <small>{{reply.time}}</small></h4>
              <p>{{reply.content}}</p>
              <br>


            </div>
          </div><!--end of reply-->
          <h4>Leave a Reply:</h4>

              <div role="form">
                <div class="form-group">
                  <textarea class="form-control" placeholder="Enter Your Reply.." ng-model="my_reply"></textarea>
                </div>
                <button class="btn btn-success" ng-click="addReply(answer.answer_id,my_reply, $index)"><span class="glyphicon glyphicon-tasks"></span> Add Reply</button>
              </div>
              <br><br>

        </div>
        <hr>
      </div><!--end of answers -->
      <hr>

      <h4>Leave an Answer:</h4>
      <form class="form-horizontal" name="answerForm" novalidate ng-submit="submitted=true;addAnswer(answerForm.$valid)">

      <!-- <ui-codemirror ui-codemirror-opts="editorOptions" ng-model='answerText' ></ui-codemirror> -->
      <div class="form-group">
            <label  class="col-sm-2 control-label">Select Image</label>
            <div class="col-sm-10">
          <input type="file" class="form-control" file-model='image_path' name="image_path">          
            </div>
        </div>

      <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
          <trix-editor class='thumbnail' style='height: 300px;' angular-trix ng-model='answer_content' name='answer_content' required></trix-editor>
              <p ng-if="answerForm.answer_content.$error.required&&submitted" class="text-danger" >please, Enter an Answer..</p>
            </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10"></div>
        <div class="col-sm-2">
          <button class="btn btn-success">Add Answer</button>
        </div>
      </div>

    </form>

    </div>
  </div>
</div>

<!--Footer-->
<div ng-include = "'templates/views/footer.html'"></div>







<!-- edit question Modal -->
<div class="modal fade " id="editQuestionModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- edit question Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Your Question:</h4>
        </div>
        <div class="modal-body">

          <form class="form-horizontal" name="EditForm1" novalidate ng-submit="submitted=true;editQuestion(EditForm1.$valid)">

            <div class="form-group">
              <label class="col-sm-2 control-label">Question Title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control"  ng-model='question.edittitle'  name="title" required>
                <p ng-if="EditForm1.title.$error.required&&submitted" class="text-danger" >Question's Title is required..</p>
              </div>              

            </div>
            
            <div class="form-group">
              <label class="col-sm-2 control-label">Question Content</label>
              <div class="col-sm-10">

                <trix-editor style='height: 300px;' angular-trix ng-model="question.editcontent" class="trix-content" name='content' required>
                </trix-editor>
                <p ng-if="EditForm1.content.$error.required&&submitted" class="text-danger" >Question's Content is required..</p>
              </div>
              

            </div>           

            <div class="form-group">
              <label  class="col-sm-2 control-label">Tags</label>
              <div class="col-sm-10">

          <select class="form-control selectpicker" ng-model="question.edittags" ng-options="tag.id as tag.tag_name for tag in edittags" multiple ></select>


        </div>
            </div>


          
              <div class="modal-footer">
                  <button  class="btn btn-danger">Edit</button>
                  <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
              </div>
        </form>
          

        </div>
      </div>
      
    </div>
  </div><!--end of modal -->


   <!-- edit answer Modal -->
<div class="modal fade " id="editAnswerModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- edit answer Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Your Answer:</h4>
        </div>
        <div class="modal-body">

          <form class="form-horizontal" name="EditForm2" novalidate ng-submit="submitted=true;editAnswer(EditForm2.$valid)">

            
            <div class="form-group">
              <label class="col-sm-2 control-label">Answer Content</label>
              <div class="col-sm-10">

                <trix-editor style='height: 300px;' angular-trix ng-model="editanswer_content" class="trix-content" name='content' required>
                </trix-editor>
                <p ng-if="EditForm2.content.$error.required&&submitted" class="text-danger" >Answer's Content is required..</p>
              </div>
              

            </div>          
          
              <div class="modal-footer">
                  <button  class="btn btn-danger">Edit</button>
                  <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
              </div>
        </form>
          

        </div>
      </div>
      
    </div>
  </div><!--end of modal -->
