<!--Header-->
<div ng-include = "'templates/views/header.html'"></div>
<style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: white;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>


<div class="container" >
  <div class="row content">
    <div class="col-sm-3 sidenav">


      <!-- list of courses -->
      <h4 style="text-align: center;">List of Course:</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#/course?id={{course.id}}" class="list-group-item" ng-repeat='course in courses track by $index' style="text-align: center;">{{course.course_name}}</a></li>
      </ul><br>

      
    </div>

    <div class="col-sm-9">
    
    <!-- filteration for questions -->
      <nav class="navbar" style="background-color: white;">
      <div class="container-fluid">

        <div>
          <ul class="nav navbar-nav">
          <li  class="active"><a class="btn" href="#/questions" ng-click='filterQuestions("all")' >My Courses' Questions</a></li>
          <li><a href="#/allquestions" class="btn" style="color: #cc2900;"> Other Courses' Questions</a></li>
            
          </ul>
        </div>
      </div>
    </nav><!-- end of filteration -->
    <!-- filteration for questions -->
      <nav class="navbar" style="background-color: white;">
      <b class="navbar-brand" style="color: grey;">Filteration:</b>
      <div class="container-fluid">

        <div>
          <ul class="nav navbar-nav">
            <li><a class="btn" ng-click='filterQuestions("answered")' style="color: green;"> Answered Questions</a></li>
            <li><a class="btn" ng-click='filterQuestions("unanswered")' style="color: green;"> un-answered Questions</a></li>
          </ul>
        </div>
      </div>
    </nav><!-- end of filteration -->
    <h2><small>RECENT QUESTIONS</small></h2>
      <hr>
      
      <div ng-repeat='question in questions track by $index'>

      <h2>{{question.title}} <span ng-if='question.solved == 1' class="glyphicon glyphicon-ok text-success"></span>
      </h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post at: {{question.time}}</h5>
      <h5><span class="label label-danger">{{question.course_name}}</span></h5><br>


      <div class="pull-right">
      <h4><span class="badge">{{question.answer_number}}</span> Answers</h4>
       <p><span class="btn btn-danger"><a  href="#/question?id={{question.id}}" style="color: white;">View Question's Page</a></span></p><br>
     </div>
     

     <span class="badge"> Tags</span> <b ng-repeat='tag in question.tags track by $index'> <a href="#/tag?id={{tag.id}}" >{{tag.tag_name}}</a> |</b><br><br>
      


      
      <div hm-read-more
                  hm-text="{{question.content}}" 
                  hm-limit="150" 
                  hm-more-text="Read More" 
                  hm-less-text="Read Less"
                  hm-dots-class="dots"
                  hm-link-class="links">
      </div>


      <hr>

      </div><!--end of question -->
    </div>
  </div>
</div>

<!--Footer-->
<div ng-include = "'templates/views/footer.html'"></div>