<!--Header-->
<div ng-include = "'templates/views/header.html'"></div>


<div class="container" >
  <div class="row">

  	<div class="col-sm-2">
  	<a href="#/allquestions" class="btn btn-default">Other Courses' Questions</a>
  		<div class="list-group pull-right" >
  			<h4 class="list-group-item" style="text-align: center;">List of Course:</h4>
			<a href="#/course?id={{course.id}}" class="list-group-item" ng-repeat='course in courses track by $index' style="text-align: center;">{{course.course_name}}</a>		  

		</div>
		
  	</div>

  	<div class="col-sm-10">
  		<div class="row">
  		<div class="col-sm-6"></div>
  			<div class="col-sm-6">	  	

			    <div>
				  <label>
				    <a class="btn btn-default" ng-click='filterQuestions("all")'> All Questions</a>
				  </label>
				  <label >
				    <a class="btn btn-default" ng-click='filterQuestions("answered")'> Answered Questions</a>
				  </label>
				  <label >
				    <a class="btn btn-default" ng-click='filterQuestions("unanswered")'> un-answered Questions</a>
				  </label>
				</div>
			</div>
	    </div>
	  
	    <br/>
	    <div class="row"  ng-repeat='question in questions track by $index'>
				  
				<div class="thumbnail">
				    <div class="col-sm-10">

				        <h3>{{question.title}} .."{{question.course_name}}"</h3>
				       Tags: <b ng-repeat='tag in question.tags track by $index'> <a href="#/tag?id={{tag.id}}" >{{tag.tag_name}}</a> |</b>
				        <div hm-read-more
					        hm-text="{{question.content}}" 
					        hm-limit="250" 
					        hm-more-text="Read More" 
					        hm-less-text="Read Less"
					        hm-dots-class="dots"
					        hm-link-class="links">
						</div>
					</div>
					<div class="col-sm-2">
						<div ng-if='question.solved == 1'>
				  			<h1 class="text-success"><span class="glyphicon glyphicon-ok"></span></h1>							
						</div>
					</div>
						


				        
				    <p>
				    <div class="pull-left">
				    	<a class="btn btn-default" href="#/question?id={{question.id}}">View Question's Page</a>
				    </div>
					    <div class="pull-right">
						    <h5>Number Of Answers: {{question.answer_number}}</h5> 
						    <strong>Time: {{question.time}}</strong>
					    </div>
				    </p>
				    <div class="clearfix"></div>
				        
				</div>
				</div>
	    	
	    </div>
    </div>

  </div>
  <br/>
	
</div>





<!--Footer-->
<div ng-include = "'templates/views/footer.html'"></div>