<!--Header-->
<div ng-include = "'templates/views/header.html'"></div>


<div class="container" >
  <div class="row content">
    <div class="col-sm-3 sidenav">


      <!-- list of courses -->
      <h4 style="text-align: center;">List of Course:</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#/course?name={{course.course_name}}" class="list-group-item" ng-repeat='course in courses track by $index' style="text-align: center;" ng-click='courseQuestions()'>{{course.course_name}}</a></li>
      </ul><br>

      
    </div>

    <div class="col-sm-9">
    
    <!-- filteration for questions -->
      <nav class="navbar " style="background-color: white;">
      <div class="container-fluid">

        <div>
          <ul class="nav navbar-nav">
          <li  ><a class="color-blue " href="#/questions" ng-click='filterQuestions("all")' >My Courses' Questions</a></li>
          <li><a href="#/allquestions" class="color-red"> Other Courses' Questions</a></li>
            
          </ul>
        </div>
      </div>
    </nav><!-- end of filteration -->
    <!-- filteration for questions -->
      <nav class="navbar" style="background-color: white;">
      <b class="navbar-brand" style="color: grey;">Filteration:</b>
      <div class="container-fluid">

        <div>
          <ul class="nav navbar-nav">
           <li><a class="btn color-grey" ng-click='filterQuestions("all")' > All </a></li>
            <li><a class="btn color-grey" ng-click='filterQuestions("answered")'> Answered</a></li>
            <li><a class="btn color-grey" ng-click='filterQuestions("unanswered")'> Un-Answered</a></li>
          </ul>
        </div>
      </div>
    </nav><!-- end of filteration -->
    <h2><small>RECENT QUESTIONS</small></h2>
      <hr>
      
      <div ng-repeat='question in questions track by $index'>

      <h2 class="bg-blue color-white" style=" padding-left: 20px; padding-top: 7px; padding-bottom: 7px;">{{question.title}}

      </h2>
      <h5><span class="glyphicon glyphicon-time"></span> <strong>Post at:</strong> {{question.time}}
       <span style="padding-bottom: 5px;
                     padding-left: 5px;
                     padding-right: 5px;
                     padding-top: 5px;
                     font-size:30px;"
             ng-if='question.solved == 1' class="glyphicon glyphicon-ok text-success bg-white"></span>

      </h5>
      <h5><span class="label bg-red">{{question.course_name}}</span></h5><br>


      <div class="pull-right">
      <h4><span class="badge bg-brown">{{question.answer_number}}</span> Answers</h4>
       <p><span class="btn bg-red"><a  href="#/question?id={{question.id}}" style="color: white;">View Question's Page</a></span></p><br>
     </div>
     

     <span class="badge bg-brown"> Tags</span> <b ng-repeat='tag in question.tags track by $index'> <a  >{{tag.tag_name}}</a> |</b><br><br>
      


      <div ng-bind-html='question.content'></div>
      <!-- <div hm-read-more
                  hm-text="{{question.content}}" 
                  hm-limit="150" 
                  hm-more-text="Read More" 
                  hm-less-text="Read Less"
                  hm-dots-class="dots"
                  hm-link-class="links">
      </div> -->


      <hr>

      </div><!--end of question -->
    </div>
  </div>
</div>

<!--Footer-->
<div ng-include = "'templates/views/footer.html'"></div>