<!--Header-->
<div ng-include = "'templates/views/header.html'"></div>

<div class="container" style="margin-top: 20px;">
  <div class="row content">
    <div class="col-sm-3 sidenav">


      <!-- list of courses -->
      <h4 style="text-align: center;">List of Course:</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#/course?name={{course.course_name}}" class="list-group-item" ng-repeat='course in courses track by $index' style="text-align: center;">{{course.course_name}}</a></li>
      </ul><br>

      
    </div>


    <div class="col-sm-9">
    <nav class="navbar " style="background-color: white;">
      <div class="container-fluid">

        <div>
          <ul class="nav navbar-nav">
          <li  ><a class="color-red " href="#/questions" ng-click='filterQuestions("all")' >My Courses' Questions</a></li>
          <li><a href="#/allquestions" class="color-red"> Other Courses' Questions</a></li>
            
          </ul>
        </div>
      </div>
    </nav>
      
      <div class="pull-right">
        <button ng-if='question.question_student_id == user_id && user_type == "student" ' class="btn bg-brown color-white" ng-click="editQuestionData()" data-toggle="modal" data-target="#editQuestionModal"><span class="glyphicon glyphicon-edit"></span> Edit</button>
      </div>
      <h2>{{question.question_title}}  <span ng-if='question.solved == 1' class="glyphicon glyphicon-ok text-success"></span></h2>
      <h5><span class="glyphicon glyphicon-time"></span> <strong>Post by</strong> {{question.student_name}}, {{question.question_time}}</h5><strong>User's Points: <span class="label bg-red">{{question.student_points}}</span></strong>

      

      <strong> Tags</strong> <span class="badge bg-red" ng-repeat='tag in tags track by $index'> <a class="color-white" >{{tag.tag_name}}</a></span><br><br>

      <div style="background-color: white; padding-right: 20px; padding-top: 20px; padding-bottom: 20px; padding-left: 20px;" ng-bind-html='question.question_content'></div>

   
      <hr>


      <div class="row" ng-repeat='comment in comments'>
        
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <h4> <span class="glyphicon glyphicon-circle-arrow-right"></span> {{comment.instructor_name}} {{comment.sfull_name}} <small>{{comment.time}}</small></h4>
          <p>{{comment.content}}</p>
        </div>
        <hr>
      </div>
    <div ng-if='userCourse == "true" '>
      <h4>Leave a Comment:</h4>
      <div role="form">
        <div class="form-group">
          <textarea class="form-control" id="comment" placeholder="Enter Your Comment.." ng-model="newComment.content"></textarea>

        </div>
        <button class="btn bg-blue color-white" ng-click="addComment()"><span class="glyphicon glyphicon-comment"></span> Add Comment</button>
      </div>
    </div>
      <br><br>
      
      <h2><small>RECENT ANSWERS</small></h2>
      <hr>
      <div class="row" ng-repeat='answer in answers track by $index'>
        
        <div class="col-sm-12">
          <h4>By: {{answer.student_name}}{{answer.instructor_name}} <small>{{answer.answer_time}}</small> </h4>

         <div ng-bind-html='answer.answer_content'></div>

            <div class="row"  ng-if='userCourse == "true" '>

            <!--Likes/DisLikes-->
          <div  class="col-sm-3" ng-repeat='obj in ui_likes[$index] track by $index' ng-init="my_index=$parent.$index" >
            <h3>

                <div ng-if='obj.empty == 0 && obj.me == 1'>
                <!--{{obj.like}}-->

                <a ng-if='obj.like == 1 ' style="text-decoration: none;" class="glyphicon glyphicon-thumbs-up color-blue" ng-click="removeLike(answer.answer_id,my_index)">{{likes[my_index]}}</a>
                <a ng-if='obj.like == 1 ' style="text-decoration: none;" class="glyphicon glyphicon-thumbs-down">{{dislikes[my_index]}}</a>

                <a ng-if='obj.like == 0 ' style="text-decoration: none;" class="glyphicon glyphicon-thumbs-up" >{{likes[my_index]}}</a>
                <a ng-if='obj.like == 0 ' style="text-decoration: none;" class="glyphicon glyphicon-thumbs-down color-blue" ng-click="removeDislike(answer.answer_id,my_index)">{{dislikes[my_index]}}</a>
              </div>
                <div ng-if='obj.empty == 1'>
                    
                    <a style="text-decoration: none;" class="glyphicon glyphicon-thumbs-up" ng-click="like(answer.answer_id,my_index)">{{likes[my_index]}}</a>

                <a  style="text-decoration: none;" class="glyphicon glyphicon-thumbs-down" ng-click="dislike(answer.answer_id,my_index)">{{dislikes[my_index]}}</a>

              </div>
            </h3>
          </div><!--end of likes/dislike-->

            <!--golden star-->
            <div class="col-sm-3">
            <h1 ng-if='answer.golden == 1'><span class="glyphicon glyphicon-star" style="color: #d9d927"></span></h1>

            <h1 ng-if='answer.golden == 0 && user_type == "instructor" ' ><span class="glyphicon glyphicon-star-empty" ng-click='goldenStar(answer.answer_id,$index)'></span></h1>
            </div>
            <div class="col-sm-3">
            <!--accepted-->
            <div ng-if='question.solved == 0'>
              <div class="radio" ng-if='question.question_student_id == user_id   && user_type == "student" '>
                  <label><h3 style="color: #cccccc;"><span class="glyphicon glyphicon-ok" ng-click='acceptAnswer(answer.answer_id,$index)' style="font-size:30px; margin-bottom: 0px;margin-top: 0px;"></span></h3></label>
                </div>
            </div>

            <div ng-if='question.solved == 1'>
              <div class="radio" ng-if='question.question_student_id == user_id  && user_type == "student" '>
                  <label ng-if='answer.accepted == 1'><h3><span class="glyphicon glyphicon-ok text-success" ng-click='unacceptAnswer(answer.answer_id,$index)' style="font-size:36px;"></span></h3></label>


                </div>
                <div ng-if='question.question_student_id != user_id '>
                  <label ng-if='answer.accepted == 1'><h3><span class="glyphicon glyphicon-ok text-success" style="font-size:36px;"></span></h3></label>
                </div>
            </div><!--end of accepted-->
            </div>

            <div class="col-sm-3 pull-right">
            <!--edit answer-->
              <button ng-if='answer.answer_student_id == user_id && user_type == "student" ' class="btn bg-brown color-white pull-right" ng-click="editAnswerData(answer,$index)" data-toggle="modal" data-target="#editAnswerModal"><span class="glyphicon glyphicon-edit"></span>Edit</button>

              <button ng-if='answer.answer_instructor_id == user_id && user_type == "instructor" ' class="btn bg-brown color-white pull-right" ng-click="editAnswerData(answer,$index)" data-toggle="modal" data-target="#editAnswerModal"><span class="glyphicon glyphicon-edit"></span>Edit</button>
            </div>

          </div>
            
          
          
          <!--reply -->
          <div class="row" ng-repeat='reply in replies[$index]'>
            <div class="col-sm-2"></div>
            <div class="col-xs-10">
              <h4> <span class="glyphicon glyphicon-circle-arrow-right"></span> {{reply.instructor_name}}{{reply.student_name}} <small>{{reply.time}}</small></h4>
              <p>{{reply.content}}</p>
              <br>


            </div>
          </div><!--end of reply-->
        <div  ng-if='userCourse == "true" '>
          <h4>Leave a Reply:</h4>

              <div role="form">
                <div class="form-group">
                  <textarea class="form-control" placeholder="Enter Your Reply.." ng-model="my_reply"></textarea>
                </div>
                <button class="btn bg-blue color-white" ng-click="addReply(answer.answer_id,my_reply, $index)"><span class="glyphicon glyphicon-tasks"></span> Add Reply</button>
              </div>
        </div>
              <br><br>

        </div>
        <hr>
      </div><!--end of answers -->
    <div  ng-if='userCourse == "true" '>
     <div  ng-if=' question.question_student_id != user_id || user_type != "student" '>
      <hr>
      <h4>Leave an Answer:</h4>
      <form class="form-horizontal" name="answerForm" novalidate ng-submit="submitted=true;addAnswer(answerForm.$valid,answer_content)">

      <!-- <ui-codemirror ui-codemirror-opts="editorOptions" ng-model='answerText' ></ui-codemirror> -->
      <!-- <div class="form-group">
            <label  class="col-sm-2 control-label">Select Image</label>
            <div class="col-sm-10">
          <input type="file" class="form-control" file-model='image_path' name="image_path">          
            </div>
        </div>
 -->
      <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
          <!-- <trix-editor class='thumbnail' style='height: 300px;' angular-trix ng-model='newAnswer.content' name='answer_content' required></trix-editor> -->

          <wysiwyg-edit content="newAnswer.content" name='answer_content' required></wysiwyg-edit>

          <p ng-if="answerForm.answer_content.$error.required&&submitted" class="text-danger" >please, Enter an Answer..</p>
            </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10"></div>
        <div class="col-sm-2">
          <button class="btn bg-blue color-white"><span class="glyphicon glyphicon-eject"></span> Add Answer</button>
        </div>
      </div>

    </form>
    </div>
  </div>
    </div>
  </div>
</div>

<!--Footer-->
<div ng-include = "'templates/views/footer.html'"></div>







<!-- edit question Modal -->
<div class="modal fade " id="editQuestionModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- edit question Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Your Question:</h4>
        </div>
        <div class="modal-body">

          <form class="form-horizontal" name="EditForm1" novalidate ng-submit="submitted=true;editQuestion(EditForm1.$valid)">

            <div class="form-group">
              <label class="col-sm-2 control-label">Question Title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control"  ng-model='question.edittitle'  name="title" required>
                <p ng-if="EditForm1.title.$error.required&&submitted" class="text-danger" >Question's Title is required..</p>
              </div>              

            </div>
            
            <div class="form-group">
              <label class="col-sm-2 control-label">Question Content</label>
              <div class="col-sm-10">

               <!--  <trix-editor style='height: 300px;' angular-trix ng-model="question.editcontent" class="trix-content" name='content' required>
                </trix-editor> -->

             <wysiwyg-edit content="question.editcontent" name='content' required></wysiwyg-edit>

                <p ng-if="EditForm1.content.$error.required&&submitted" class="text-danger" >Question's Content is required..</p>
              </div>
              
            </div>           

           <div class="form-group">
              <label for="course"  class="col-sm-2 control-label ">Tags</label>
              <div class="col-sm-10">
                <ui-select multiple tagging="tagTransform" ng-model="questionTags.selectedTags" theme="bootstrap"  >
                <ui-select-match >{{$item.tag_name}}</ui-select-match>
                <ui-select-choices repeat=" tag in edittags | propsFilter: {tag_name: $select.search}">
                 
                <div ng-if="!tag.isTag" ng-bind-html="tag.tag_name + tag.isTag| highlight: $select.search"></div>
                    <div ng-if="tag.isTag" ng-bind-html="tag.tag_name | highlight: $select.search"></div>
                </ui-select-choices>
                </ui-select>
              </div>
            </div>
              
            <style>
             input.ui-select-search.input-xs{
                              width: auto!important;
                           }
            </style>
         
              <div class="modal-footer">
                  <button  class="btn bg-red color-white">Edit</button>
                  <button type="button" class="btn bg-blue color-white" data-dismiss="modal">Cancel</button>
              </div>
        </form>
          

        </div>
      </div>
      
    </div>
  </div><!--end of modal -->


   <!-- edit answer Modal -->
<div class="modal fade " id="editAnswerModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- edit answer Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Your Answer:</h4>
        </div>
        <div class="modal-body">

          <form class="form-horizontal" name="EditForm2" novalidate ng-submit="submitted=true;editAnswer(EditForm2.$valid)">

            
            <div class="form-group">
              <label class="col-sm-2 control-label">Answer Content</label>
              <div class="col-sm-10">

               <!--  <trix-editor style='height: 300px;' angular-trix ng-model="editanswer_content" class="trix-content" name='content' required>
                </trix-editor> -->

               <wysiwyg-edit content="editanswer_content" name='content' required></wysiwyg-edit>

                <p ng-if="EditForm2.content.$error.required&&submitted" class="text-danger" >Answer's Content is required..</p>
              </div>
              

            </div>          
          
              <div class="modal-footer">
                  <button  class="btn bg-red color-white">Edit</button>
                  <button type="button" class="btn bg-blue color-white" data-dismiss="modal">Cancel</button>
              </div>
        </form>
          

        </div>
      </div>
      
    </div>
  </div><!--end of modal -->
